<!DOCTYPE html>
<html lang="en">
<head>

<!--  Meta  -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">	
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="TwoCast Weather App" content="Angular Gantt | version 1.0">
<meta name="author" content="Alden J. Curnutt">

<!--  Tab Info  -->
<title>TwoCast Weather App</title>
<link rel="shortcut icon" href="">

<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<script type="text/javascript" src="assets/js/angular.min.js"></script>
<script type="text/javascript" src="assets/js/twocast-app.js"></script>
<script type="text/javascript" src="assets/data/weather-api.json"></script>
<script type="text/javascript" src="assets/data/openweathermap.onecall.js"></script>
<script type="text/javascript" src="assets/data/clothing.json"></script>

<link rel="stylesheet" type="text/css" href="assets/css/base.css" />
<link rel="stylesheet" type="text/css" href="assets/css/twocast-app.css" />

</head>
	<body>
		
	<section id="cyclecast-app" class="light-scheme" ng-app="temperature-app" ng-controller="temperatureCtrl">
		<nav>
			<h4 id="app-title" class="float-l">TwoCast</h4>
			<ul id="themer">
				<li class="theme tcenter">Light</li>
				<li class="theme tcenter">Dark</li>
				<li id="slider"></li>
			</ul>
		</nav>
	
		<tabs class="app-border-radius">
			<span ng-repeat="tab in ui.tabs"
			      ng-class="{'active': tab.title == ui.activeTab }"
				  ng-click="setActiveTab(tab.title)"
				  class="b shadow">
				{{ tab.title }}
			</span>
		</tabs>

		<div ng-repeat="route in Routes track by $index"
			 ng-show="ui.activeTab == 'Routes'"
			 class="tab-body app-border-radius shadow">

			<ul class="clearfix ul-content">
				<li class="route-id b">Route {{$index + 1}}</li>
				<li class="right">
					<select ng-model="Routes[$index].data" 
							ng-options="hour as hour.longOptText for hour in hours"
							ng-change="setClothing($index)"
							ng-if="windowWidth > 360"
							class="app-float-right app-border-radius shadow">
					</select>
				</li>
				<li class="right">
					<select ng-model="Routes[$index].data"
							ng-options="hour as hour.shortOptText for hour in hours"
							ng-change="setClothing($index)"
							ng-if="windowWidth <= 360"
							class="app-float-right app-border-radius shadow">
					</select>
				</li>
			</ul>

			<ul class="clearfix ul-content">
				<li ng-if="route.data">
					<img ng-src="{{ Routes[$index].data.weatherIconURL }}" class="weather-icon app-border-radius" />
				</li>
				<li ng-if="route.data">
					<p ng-if="windowWidth > 360" class="forecast-data">
						<span class="b">{{ Routes[$index].data.temp }}°F</span>
						<span>Feels like</span>
						<span class="app-orange-text b">{{ Routes[$index].data.feels_like }}°F</span>
						<span>|</span>
						<span class="b">{{ Routes[$index].data.wind_gust }}</span>
						<span>mph</span>
						<span>
							<img src="assets/images/wind-icon-color.png" alt="" style="height: 12px;">
						</span>
					</p>
				</li>
				<li ng-if="route.data">
					<p ng-if="windowWidth <= 360" class="forecast-data">
						<span class="b">{{ Routes[$index].data.temp }}°F</span>
						<span>→</span>
						<span class="app-orange-text b">{{ Routes[$index].data.feels_like }}°F</span>
						<span>|</span>
						<span class="b">{{ Routes[$index].data.wind_gust }}</span>
						<span>mph</span>
						<span>
							<img src="assets/images/wind-icon-color.png" alt="" style="height: 12px;">
						</span>
					</p>
				</li>
			</ul>

			<p class="route-desc app-border-radius"
				ng-if="Routes[$index].data">
				{{ Routes[$index].data.weather[0].main }} ({{Routes[$index].data.weather[0].description }})
			</p>


			
			
			<table ng-if="route.data">
				<thead>
					<tr>
						<td class="title center">aaa</td>
						<td class="title">bbb</td>
					</tr>
				</thead>
				<tr ng-repeat="eachCategory in clothing" ng-if="route.clothing[eachCategory.name].length">
					<td class="article-icon valign-m" ng-class="">
						<img ng-src="{{ eachCategory.svgPath }}">
					</td>
					<td class="article-name valign-t">
						<p ng-repeat="eachArticle in route.clothing[eachCategory.name]">
							{{ eachArticle.name }}
						</p>
					</td>
				</tr>
			</table>
			
			<div class="tright clearfix app-cta-box">
				<span ng-click="RemoveRoute($index)" class="app-cta cancel b ul-button shadow clearfix">
					<span>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 219.43 219.43">
							<path d="M396.54,416.09a109.71,109.71,0,1,1,109.6-109.68A109.71,109.71,0,0,1,396.54,416.09Zm0-92.78L418.22,345q12.28,12.3,24.59,24.58a12,12,0,1,0,16.69-17.21Q437,329.85,414.56,307.38c-.32-.32-.62-.67-.87-.94.34-.4.57-.73.85-1q22.51-22.55,45-45.07a12,12,0,0,0-17-16.89Q424,262,405.5,280.54c-2.95,2.95-5.87,5.93-9,9.06a12.59,12.59,0,0,0-.84-1.08l-40-40c-1.84-1.83-3.64-3.71-5.52-5.49a12,12,0,0,0-16.45,17.44q22.46,22.49,44.94,44.94c.32.32.63.66,1,1.07l-1.06,1q-22.47,22.47-44.93,44.95a12,12,0,0,0,17,16.9q13.59-13.53,27.13-27.12C384,335.93,390.24,329.66,396.58,323.31Z" transform="translate(-286.71 -196.67)" />
						</svg>
					</span>
					<span>
						Remove
					</span>
				</span>
			</div>
				
			<!-- <p ng-if="!forecast" 
			ng-show="ui.activeTab == 'Routes'"
			id="no-forecast-data"
			class="font-p8rem b tcenter">
				(No forecast: fetch API data)
			</p> -->
		</div>

		<div class="clearfix app-cta-box" ng-if="forecast">
			<span ng-click="AddRoute()"
			      ng-if="forecast"
			      ng-show="ui.activeTab == 'Routes'"
			      class="app-cta b app-border-radius shadow pointer">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 219.41 219.41">
					<path d="M378.45,138.69A109.71,109.71,0,1,1,268.69,248.23,109.72,109.72,0,0,1,378.45,138.69Zm12.06,121.58H443c4.35,0,8.71.05,13.07,0a12,12,0,0,0-.53-24H390.51V218.82q0-23.74,0-47.48a12,12,0,1,0-24,.11q0,31.65,0,63.3v1.54H321.87c-6.91,0-13.83,0-20.74,0a12,12,0,0,0,.29,24q31.83,0,63.66,0h1.45v33.36c0,10.59,0,21.18,0,31.77a12,12,0,0,0,24-.23q0-31.65,0-63.3Z" transform="translate(-268.69 -138.69)"/>
				</svg>
				<span>
					Add Route
				</span>
			</span>
		</div>

		<div class="app-cta-box clearfix tcenter">
			<span class="app-cta inline">
				<span ng-if="!forecast">No Forecast</span>
				<span>&nbsp;</span>
				<span ng-click="FetchData()" class="link">
					<span class="cursor b">(</span>
					<span class="cursor b" ng-if="forecast">Re-</span>
					<span class="cursor b">Fetch API Data)</span>
				</span>
			</span>
		</div>
		<!-- <div class="clearfix">

		</div> -->


		<div ng-show="ui.activeTab == 'Clothing'"
			id="clothing"
			class="tab-content app-border-radius shadow">
		
			<p class="b title">Clothing Table</p>
			<!-- <ul>
				<li ng-repeat="eachCat in clothing">
					<ul>
						<li ng-repeat="eachArticle in eachCat.clothing">{{eachArticle}}</li>
					</ul>
				</li>
			</ul> -->
			<table>
				<tr>
					<td>Category</td>
					<td colspan="3">Col B</td>
				</tr>

				<tr ng-repeat="eachCategory in clothing">
					<td>{{ eachCategory.categoryName }}</td>
					<td>
						<tbody ng-repeat="eachArticle in eachCategory.clothing">
							<tr>
								<td>
									1{{ eachArticle }}
								</td>
							</tr>
						</tbody>
					</td>
				</tr>

			</table>

		<!-- <div>
			<span class="app-cta shadow app-border-radius b" ng-click="TestWindow()">
				<span>{{ windowWidth }}</span>
			</span>
		</div> -->
	</section>

	

</body>
</html>