/* General App Styles */
#cyclecast-app td:last-child { width: 99% }

/* General App Classes */
#cyclecast-app .app-border-radius { border-radius: 4px; }
#cyclecast-app .app-float-right { float: right; }
#cyclecast-app .vert-align { vertical-align: middle; }
#cyclecast-app .tcenter { text-align: center; }
#cyclecast-app .float-r { float: right; }
#cyclecast-app .float-l { float: left; }
#cyclecast-app .shadow { box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1); }
#cyclecast-app .no-border { border: none !important; }
#cyclecast-app .font-p7rem { font-size: .7rem; }
#cyclecast-app .font-p8rem { font-size: .8rem; }
#cyclecast-app .font-p9rem { font-size: .9rem; }

/* General: App Light-Scheme Colors */
#cyclecast-app.light-scheme { background-color: #EEEEEE; }
#cyclecast-app.light-scheme .tab-content { background-color: #FFFFFF;}
#cyclecast-app.light-scheme .tab-content select { border: 1px solid #F2F2F2; color: #A6A6A6; }
#cyclecast-app.light-scheme .route-desc { background-color: #F2F2F2; color: #A6A6A6}
#cyclecast-app.light-scheme .weather-icon { border: 1px solid #F2F2F2; background-color: #FFFFFF; }
#cyclecast-app.light-scheme .app-cta { background-color: #FFFFFF; color: #484848; }
#cyclecast-app.light-scheme .tr-title { color: #484848;}
#cyclecast-app.light-scheme .tr-content { border-top: 1px solid #F2F2F2; color: #5C5C5C;}

/* General: App Light-Scheme Colors */
#cyclecast-app.dark-scheme { background-color: #343434; }
#cyclecast-app.dark-scheme .tab-content { background-color: #484848; }
#cyclecast-app.dark-scheme #app-title { color: #F2F2F2; }
#cyclecast-app.dark-scheme .tab-content select { border: 1px solid #5C5C5C; background-color: #484848; color: #F2F2F2; }
#cyclecast-app.dark-scheme .tr-title { color: #F2F2F2; }
#cyclecast-app.dark-scheme .weather-icon { border: 1px solid #A6A6A6; background-color: #FFF; }
#cyclecast-app.dark-scheme .route-desc { background-color: #A6A6A6; color: #484848 }
#cyclecast-app.dark-scheme .tr-content { border-top: 1px solid #5C5C5C; color: #F2F2F2; }
#cyclecast-app.dark-scheme .app-cta { border: 1px solid #5C5C5C; background-color: #484848; color: #F2F2F2; }
#cyclecast-app.dark-scheme .app-cta svg path { fill: #F2F2F2; }

/* General: App Standard Colors */
#cyclecast-app .app-orange-text {	color: #EC6E4C; }
#cyclecast-app .app-light-text { color: #F2F2F2; }
#cyclecast-app .app-dark-grey-text { color: #484848; }
#cyclecast-app .app-dark-grey-text { color: #A6A6A6; }
#cyclecast-app .app-cta.cancel span { color: #EC6E4C; }
#cyclecast-app .app-cta.cancel svg path { fill: #EC6E4C; }

#cyclecast-app {
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 15px 10px;
	min-width: 260px;
}


#cyclecast-app #app-title {
	margin: 10px 0px 10px 0px;
}
#cyclecast-app nav {
	display: block;
	height: 40px;
}


#cyclecast-app tabs {
	/* border: 1px solid salmon; */
	display: block;
	margin: 10px 0px 0px 0px;
}
#cyclecast-app tabs span {
	/* border: 1px solid blue; */
	margin: 0px 2px 0px 0px;
    padding: 10px 8px 7px 8px;
    display: inline-block;
    border-bottom: 2px solid #FFFFFF;
    background-color: #E7E7E7;
    color: #BBBBBB;
	cursor: pointer;
	font-size: .8rem;

}
#cyclecast-app tabs span.active {
	background-color: #FFF;
    border-bottom-color: #EC6E4C;
    color: #484848;
}

/* #cyclecast-app .route { */
#cyclecast-app .tab-content {
	/* border: 1px solid green; */
	margin: 15px 0px 0px 0px;
	padding: 10px;
	/* max-width: 400px; */
}



#cyclecast-app .tab-content select {
	margin: 2px 0px 0px 0px;
	padding: 4px 15px 4px 4px;
}

#cyclecast-app .route-id {
	color: #EC6E4C;
	font-size: 18px;
}

#cyclecast-app tr.forecast td {
	/* border: 1px solid salmon; */
	padding: 4px 0px 2px 0px;
}


#cyclecast-app .td-index-col {
	/* width: 70px; */
	vertical-align: middle;
	white-space: nowrap;
}

#cyclecast-app .td-content-col {
	/* width: 260px; */
	width: 99%;
}

#cyclecast-app .route-desc {
	margin: 5px 0px -3px 0px;
	padding: 3px 0px 3px 5px;
}

#cyclecast-app .weather-icon {
	height: 45px;
	width: 45px;
}

#cyclecast-app .weather-icon img {
	height: 50px;
	width: 50px;
}

#cyclecast-app .app-icon-svg.set-height {
	height: 35px;
}

#cyclecast-app .app-icon-svg.set-width {
	width: 35px;
}
#cyclecast-app #no-forecast-data {
	margin: 15px 0px 0px 0px;
	color: #BBBBBB;
}

#cyclecast-app .articles {
	margin: 8px 0px 8px 15px;
}

#cyclecast-app #clothing .title {
	margin: 5px 0 0 1px;
	color: #EC6E4C;
	font-size: 18px;
}
#cyclecast-app #clothing table {
	margin: 10px 0px 0px 0px;
}

#cyclecast-app #clothing td.category
{
	color: #5C5C5C;
	text-align: right;
}

#cyclecast-app #clothing .degree-range
{
	padding: 0px 0px 0px 6px;
	color: #CCCCCC;
}


#cyclecast-app .app-cta {
	padding: 5px 10px 5px 10px;
	height: 22px;
	cursor: pointer;
	position: relative;
	display: inline-block;
}
#cyclecast-app .app-cta span {
	display: flex;
	margin: 0px 0px 0px 00px;
	font-size: .8rem;
	line-height: 22px;
	float: left;
}
#cyclecast-app .app-cta svg {
	margin: 3px 7px 0px 0px;
	height: 16px;
	float: left;
	width: 16px;
}
#cyclecast-app .app-cta.add-route {
	margin: 15px 0px 0px 0px;
}
#cyclecast-app .remove-route .app-cta {
	margin: 15px 2px 4px 0px;
}

