/*\
|*| General App Styles
\*/
#cyclecast-app td:last-child { width: 99% }
#cyclecast-app { font-size: .8rem; }

/*\
|*| General Utility
\*/
#cyclecast-app .app-border-radius { border-radius: 4px; }
#cyclecast-app .app-float-right { float: right; }
#cyclecast-app .valign-t { vertical-align: top; }
#cyclecast-app .valign-m { vertical-align: middle; }
#cyclecast-app .valign-b { vertical-align: bottom; }
#cyclecast-app .float-r { float: right !important; }
#cyclecast-app .float-l { float: left; }
#cyclecast-app .shadow { box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1); }
#cyclecast-app .cursor { cursor: pointer; }
#cyclecast-app .link { color: #EC6E4C; }
#cyclecast-app .no-border { border: none !important; }
#cyclecast-app .font-p9rem { font-size: .9rem; }
#cyclecast-app .font-p8rem { font-size: .8rem; }
#cyclecast-app .font-p7rem { font-size: .7rem; }
#cyclecast-app .consolas { font-family: "consolas" !important; }
#cyclecast-app .icon-10x10 { height: 10px; width: 10px; }
#cyclecast-app .icon-15x15 { height: 15px; width: 15px; }
#cyclecast-app .icon-20x20 { height: 20px; width: 20px; }
#cyclecast-app .icon-25x25 { height: 25px; width: 25px; }
#cyclecast-app .icon-30x30 { height: 30px; width: 30px; }
#cyclecast-app .icon-40x40 { height: 40px; width: 40px; }
#cyclecast-app .icon-45x45 { height: 45px; width: 45px; }
#cyclecast-app .app-orange-text {	color: #EC6E4C; }
#cyclecast-app .app-light-text { color: #F2F2F2; }
#cyclecast-app .app-dark-grey-text { color: #484848; }
#cyclecast-app .app-light-grey-text { color: #A6A6A6; }
#cyclecast-app .app-cta.cancel span { color: #EC6E4C; }
#cyclecast-app .app-cta.cancel svg path { fill: #EC6E4C; }

/*\
|*| Light Theme Color Configuration
\*/
#cyclecast-app.light-theme { background-color: #EEEEEE; }
#cyclecast-app.light-theme #themer #slider { background: #FFF; }
#cyclecast-app.light-theme tabs span { border-bottom: 2px solid #FFFFFF; background-color: #E7E7E7; color: #BBBBBB; }
#cyclecast-app.light-theme tabs span.active { background-color: #FFF; color: #484848; border-bottom-color: #EC6E4C; }
#cyclecast-app.light-theme .tab-body { background-color: #FFFFFF; color: #5C5C5C; }
#cyclecast-app.light-theme .tab-body select { border: 1px solid #F2F2F2; color: #A6A6A6; }
#cyclecast-app.light-theme tr { border-top: .5px solid #F2F2F2; }
#cyclecast-app.light-theme .route-desc { background-color: #F2F2F2; color: #A6A6A6}
#cyclecast-app.light-theme .weather-icon { border: 1px solid #F2F2F2; background-color: #FFFFFF; }
#cyclecast-app.light-theme .app-cta { background-color: #FFFFFF; color: #484848; }
#cyclecast-app.light-theme input { border: 1px solid #F2F2F2; background-color: #FFFFFF; color: #A6A6A6; }

/*\
|*| Dark Theme Color Configuration
\*/
#cyclecast-app.dark-theme { background-color: #343434; }
#cyclecast-app.dark-theme #themer { border: 2px solid #5C5C5C; }
#cyclecast-app.dark-theme #themer #slider { background-color: #5C5C5C; }
#cyclecast-app.dark-theme #themer .theme { color: #F2F2F2; }
#cyclecast-app.dark-theme tabs span { background-color: #484848; color: #BBBBBB; border-bottom: 2px solid #A6A6A6;   }
#cyclecast-app.dark-theme tabs span.active { background-color: #343434; color: #F2F2F2; border-bottom-color: #EC6E4C; }
#cyclecast-app.dark-theme #app-title { color: #F2F2F2; }
#cyclecast-app.dark-theme .ul-content { color: #F2F2F2; }
#cyclecast-app.dark-theme .tab-body { background-color: #484848; }
#cyclecast-app.dark-theme .tab-body select { border: 1px solid #5C5C5C; background-color: #484848; color: #A6A6A6; }
#cyclecast-app.dark-theme tr { border-top: .5px solid #5C5C5C; }
#cyclecast-app.dark-theme .weather-icon { border: 1px solid #A6A6A6; background-color: #FFF; }
#cyclecast-app.dark-theme .route-desc { background-color: #5C5C5C; color: #BBBBBB }
#cyclecast-app.dark-theme .title { color: #F2F2F2; }
#cyclecast-app.dark-theme .article { color: #F2F2F2; }
#cyclecast-app.dark-theme .app-cta { border: 1px solid #5C5C5C; background-color: #484848; color: #F2F2F2; }
#cyclecast-app.dark-theme .app-cta svg path { fill: #F2F2F2; }
#cyclecast-app.dark-theme input { border: 1px solid #5C5C5C; background-color: #484848; color: #A6A6A6; }

/*\
|*| App ID UI
\*/
#cyclecast-app {
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
	min-width: 260px;
}
#cyclecast-app #app-title {
	margin: 10px 0px 10px 0px;
	font-size: 1rem;
}

/*\
|*| Theme Slider UI
\*/
#cyclecast-app #themer {
	border: 1px solid #FFF;
	margin: 4px 0px 0px 0px;
	padding: 2px 3px 2px 3px;
	position: relative;
	height: 19.5px;
}
#cyclecast-app #themer .theme {
	position: relative;
	float: left;
	height: 20px;
	width: 50px;
	line-height: 21px;
	cursor: pointer;
}
#cyclecast-app #themer #slider {
	position: absolute;
	height: 20px;
	width: 50px;
	border-radius: 2px;
}
#cyclecast-app #themer.light #slider {
	margin: 0px 0px 0px 0px;
}
#cyclecast-app #themer.dark #slider {
	margin: 0px 0px 0px 51px;
}

/*\
|*| Tab UI
\*/
#cyclecast-app nav {
	display: block;
	height: 40px;
}
#cyclecast-app tabs {
	display: block;
	margin: 10px 0px 0px 0px;
}
#cyclecast-app tabs span {
	margin: 0px 2px 0px 0px;
    padding: 10px 8px 7px 8px;
    display: inline-block;
	cursor: pointer;
	font-size: .8rem;
}
#cyclecast-app tabs span:first-child {
	border-top-left-radius: 3px;
}
#cyclecast-app tabs span:last-child {
	border-top-right-radius: 3px;
}
#cyclecast-app .tab-body {
	margin: 15px 0px 0px 0px;
	padding: 6px 6px 6px 6px;
}

/*\
|*| Tab Body Content UI
\*/
#cyclecast-app .ul-content {
	display: block;
}
#cyclecast-app .ul-content li {
	float: left;
}
#cyclecast-app select {
	padding: 3px 8px 3px 8px;
}

/*\
|*| Route UI
\*/
#cyclecast-app .forecast-data {
	margin: 0px 0px 0px 8px;
	line-height: 45px;
}
#cyclecast-app .forecast-data img {
	margin: 0px 0px -6px 0px;
}
#cyclecast-app .route-desc {
	margin: 3px 0px 2px 0px;
	padding: 6px 3px 4px 5px;
}
#cyclecast-app .weather-icon {
	height: 45px;
	width: 45px;
}
#cyclecast-app .precip {
	display: inline-block;
	width: 16px;
	line-height: .9rem;
}
#cyclecast-app tr:first-child {
	border-top: none;	
}
#cyclecast-app .title {
	padding: 6px 6px 2px 12px;
}
#cyclecast-app .article {
	padding: 6px 0 6px 12px;
	line-height: 18px;
}
#cyclecast-app .article-icon {
	width: 18px;
	display: block;
}
#cyclecast-app .article-name p {
	padding: 0px 0px 0px 6px;
	width: 118px;
}
#cyclecast-app .article-limit p {
	width: 55px;
	color: #A6A6A6;
}
#cyclecast-app .article-limit sup {
	vertical-align: super;
	font-size: .6rem;
}
#cyclecast-app .article-field {
	width: 65px;
	display: block;
}
#cyclecast-app input {
	width: 95%;
}

/*\
|*| Application Button UI
\*/
#cyclecast-app .app-cta-box {
	margin: 15px 0px 0px 0px;
}
#cyclecast-app .app-cta {
	padding: 5px 10px 5px 8px;
	height: 17px;
	position: relative;
	display: inline-block;
}
#cyclecast-app .app-cta span {
	display: flex;
	margin: 0px 0px 0px 00px;
	line-height: 17px;
	float: left;
}
#cyclecast-app .app-cta svg {
	margin: 1px 6px 0px 0px;
	height: 14px;
	float: left;
	width: 16px;
}
#cyclecast-app .app-cta.cancel svg path {
	fill: #EC6E4C;
}
#cyclecast-app .app-cta.inline {
	height: 7px;
	background: none;
	border: none;
}
#cyclecast-app .app-cta.inline span {
	line-height: 8px;
}